<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string></string>
		<key>title</key>
		<string>导航</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>RankViewController</string>
		<key>title</key>
		<string>设计排行榜</string>
		<key>urlString</key>
		<string>http://www.shejiben.com/mobileapp/rank/rank.php?rt=0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>HomeViewController</string>
		<key>title</key>
		<string></string>
		<key>urlString</key>
		<string>http://www.shejiben.com/mobileapp/index.php?aUid=0</string>
		<key>urlString2</key>
		<string>http://www.shejiben.com/mobileapp/rank/rank.php?rt=0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MineViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>PublicViewController</string>
		<key>title</key>
		<string>发招标</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>DesignTradeViewController</string>
		<key>title</key>
		<string>设计交易</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>AskViewController</string>
		<key>title</key>
		<string>有问必答</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>FindDesignerViewController</string>
		<key>title</key>
		<string>找设计师</string>
		<key>urlString</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>DesignPhotoViewController</string>
		<key>title</key>
		<string>装修图片</string>
		<key>urlString</key>
		<string></string>
	</dict>
</array>
</plist>
